<div class="container">
    <div class="preview">
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A.1.4 </span> Características económicas de la población</h3>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.caracteristicasComponent1
                }}</span></p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.caracteristicasComponent2
                }}</span></p>
        <div>
            {{ datos.detalleCaracteristicasEconomicas }}
        </div>
        <div>
            {{ datos.detalleCaracteristicasEconomicas2 }}
        </div>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 11</p>
            <p style="text-align: center;font-weight: 700;">PEA por Actividad Económica en {{
                datos.distritoSeleccionado}} (2017)</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listActividadEconomica">
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="totalActividadEconomica"></span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">Resultados Definitivos de la
                Población Económicamente Activa 2017– INEI 2018</span> </p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="CaracteristicasComponent3 subrayado"></span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 12</p>
            <p style="text-align: center;font-weight: 700;">Actividades económicas principales en {{
                datos.distritoSeleccionado}} - Encuestas</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="this.datos.tablepagina9?.length > 0; else noData">
                        <tr *ngFor="let item of datos.tablepagina9">
                            <td>{{ item.actividad }}</td>
                            <td>{{ item.casos }}</td>
                            <td>{{ getPorcentajeFormateado(item.porcentaje) }}</td>
                        </tr>
                    </ng-container>
                </tbody>
                <ng-template #noData>
                    <tr>
                        <td colspan="3" style="text-align: center; font-weight: bold; color: red;">
                            No hay datos disponibles.
                        </td>
                    </tr>
                </ng-template>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="totalEncuestas"></span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">No
                            Aplica</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            colspan="2"><span class="noAplicaEncuestas subrayado">{{ datos.encuestasNoAplicaPagina9
                                }}</span></th>
                    </tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora }}</span>
        </p>
        <div id="informationActividadEconomica"></div>
    </div>
    <div class="formulario">
        <div class="title">Características económicas de la población</div>

        <div class="label">DETALLE CARACTERÍSTICAS ECONÓMICAS</div>
        <textarea class="inputstyle2" [(ngModel)]="datos.detalleCaracteristicasEconomicas"></textarea>

        <div class="label">DETALLE CARACTERÍSTICAS ECONÓMICAS 2</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detalleCaracteristicasEconomicas2" />

        <div class="title">Encuestas</div>
        <div class="label">DETALLE ENCUESTAS</div>
        <div style="display: flex; gap: 10px; align-items: center;">
            <input class="inputstyle" type="text" placeholder="Actividad" [(ngModel)]="actividad">
            <input class="inputstyle" type="number" placeholder="Casos" [(ngModel)]="casos">
            <button (click)="agregarActividad()" class="guardar">Agregar</button>
        </div>
        <ul>
            <li *ngFor="let item of actividades; let i = index" style="margin-top: 10px;">
                {{ item.actividad }} - {{ item.casos }}
                <button (click)="eliminarActividad(i)" class="btn-eliminar">Eliminar</button>
            </li>
        </ul>

        <div class="label">ENCUESTAS NO APLICA</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.encuestasNoAplicaPagina9" />
        <button (click)="actualizarLista()" class="guardar">Actualizar Lista</button>

        <div style="display: flex; gap: 20px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        </div>
    </div>
</div>