<div class="container">
    <div class="preview">
        <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">3.1.4</span>Área de Influencia Social</h3>
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A</span>Área de Influencia Social Directa (AISD)</h3>
        <p style="text-align:justify;margin-bottom: 5px;">Se ha determinado como Área de Influencia Social Directa
            (AISD) a la <span class="highlight">{{ datos.influenciaSocialDirecta || '...' }}</span>.</p>

        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A.1 </span>{{ datos.distritoSeleccionado }}</h3>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.componente1Pagina5 || '...'
                }}</span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3.4</p>
            <p style="text-align: center;font-weight: 700;">Ubicación de la {{ datos.distritoSeleccionado }}</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;"><span
                            class="introducciontable_label subrayado">{{ this.datos.descripcionTabla || "Centro Comunal"
                            }}</span></td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">
                        {{ datos.distritoSeleccionado }}</td>
                </tr>
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Distrito
                    </td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">
                        {{ datos.distritoSeleccionado }}</td>
                </tr>
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Provincia
                    </td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">
                        {{ datos.provinciaSeleccionada }}</td>
                </tr>
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">
                        Departamento</td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">
                        {{ datos.departamentoSeleccionado }}</td>
                </tr>
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Altitud
                    </td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">
                        {{ json?.length > 0 ? json[0].ALTITUD + ' msnm' : 'Sin datos' }}
                      </td>
                </tr>
                <tr>
                    <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Coordenadas
                    </td>
                    <td style="border: solid 1px black;text-align: center;padding: 5px;">E:
                        {{ json?.length > 0 ? json[0].ESTE : 'Sin datos' }} - N:
                        {{ json?.length > 0 ? json[0].NORTE : 'Sin datos' }} </td>
                </tr>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{
                datos.consultora || '...' }}</span> </p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{
                datos.componente2Pagina5 || '...' }}</span></p>
    </div>

    <div class="formulario">
        <div class="title">Introducción</div>

        <div class="label">DETALLE INICIAL INFLUENCIA SOCIAL DIRECTA</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.influenciaSocialDirecta">

        <div class="label">COMPONENTE 1</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.componente1Pagina5">

        <div class="title">Descripción tabla</div>
        <div class="label">CENTRO COMUNAL / CENTRO DISTRITAL / ANEXO / CENTRO POBLADO</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.descripcionTabla">

        <div class="label">Componente 2</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.componente2Pagina5">


        <div style="display: flex; gap: 20px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        </div>
    </div>
</div>