<div class="preview">
    <h3 style="display: flex;margin-bottom: 10px;text-align:justify;">
        <span style="margin-right: 20px;">3.1</span> DESCRIPCIÓN Y CARACTERIZACIÓN DE LOS ASPECTOS SOCIALES,
        CULTURALES Y ANTROPOLÓGICOS DE LA POBLACIÓN UBICADA EN EL ÁREA DE INFLUENCIA SOCIAL DEL PROYECTO
    </h3>
    <p>
        Este componente realiza una caracterización de los aspectos socioeconómicos, culturales y antropológicos del
        área de influencia social del proyecto
        <span class="highlight">{{ datos.projectName || '...' }}</span>, como un patrón de referencia inicial en
        base a la
        cual se pueda medir los impactos sobre la población del entorno directo del Proyecto.
    </p>
    <p>
        El Proyecto <span class="highlight">{{ datos.projectName || '...' }}</span> se encuentra ubicado en el
        distrito
        <span class="highlight">{{ datos.distritoSeleccionado || '...' }}</span>, provincia
        <span class="highlight">{{ datos.provinciaSeleccionada || '...' }}</span>, en el departamento
        <span class="highlight">{{ datos.departamentoSeleccionado || '...' }}</span>, bajo la administración del
        Gobierno
        Regional de
        <span class="highlight">{{ datos.departamentoSeleccionado || '...' }}</span>, en el
        <span class="highlight">{{ datos.detalleProyecto || '...' }}</span> del Perú.
    </p>
    <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">3.1.1</span>Objetivos de la línea base social</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Los objetivos de la presente línea de base social (LBS) son
        los siguientes:</p>
    <ul style="padding-left: 20px;">
        <li style="list-style: disc;text-align:justify;margin-bottom: 5px;">Describir los aspectos demográficos,
            sociales, económicos, culturales y políticos que caracterizan a las poblaciones de las áreas de
            influencia social del proyecto de exploración minera <span class="highlight">{{ datos.projectName ||
                '...' }}</span>.</li>
        <li style="list-style: disc;text-align:justify;margin-bottom: 5px;">Brindar información básica de los
            poblados comprendidos en el área de influencia social donde se realizará el Proyecto que sirvan de base
            para poder determinar los posibles impactos sociales a originarse en esta primera etapa de exploración
            y, por ende, prevenir, reducir o mitigar las consecuencias negativas y potenciar las positivas.</li>
    </ul>
    <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">3.1.2</span>Delimitación de las áreas de influencia social</h3>
    <p style="text-align:justify;margin-bottom: 5px;">En términos generales, la delimitación del ámbito de estudio
        de las áreas de influencia social se hace tomando en consideración a los agentes e instancias sociales,
        individuales y/o colectivas, públicas y/o privadas, que tengan derechos o propiedad sobre el espacio o los
        recursos respecto de los cuales el proyecto de exploración minera tiene incidencia. </p>
    <p style="text-align:justify;margin-bottom: 5px;">Asimismo, el área de influencia social de un Proyecto tiene en
        consideración a los grupos de interés que puedan ser potencialmente afectadas por el desarrollo de dicho
        proyecto (según La Guía de Relaciones Comunitarias de la DGAAM del MINEM, se denomina “grupos de interés” a
        aquellos grupos humanos que son impactados por dicho Proyecto).</p>
    <p style="text-align:justify;margin-bottom: 5px;">El criterio social para la delimitación de un área de
        influencia debe tener en cuenta la influencia que el Proyecto pudiera tener sobre el entorno social, que
        será o no ambientalmente impactado, considerando también la posibilidad de generar otro tipo de impactos,
        expectativas, intereses y/o demandas del entorno social.
    <p>
    <p style="text-align:justify;margin-bottom: 5px;">En base a estos criterios se han identificado las áreas de
        influencia social directa e indirecta:</p>

    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">A</span>Áreas de influencia social directa (AISD)</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Para el Proyecto <span class="highlight">{{
            datos.detalleProyecto || '...' }}</span>
        se ha determinado, teniendo en cuenta la ubicación de sus componentes, como Área de Influencia Social
        Directa (AISD)
        a <span class="highlight">{{ datos.aisdComponente1 || '...' }}</span>.</p>
    <p style="text-align:justify;margin-bottom: 5px;">Para determinar el AISD se está teniendo en cuenta que <span
            class="highlight">{{ datos.aisdComponente2 || '...' }}</span>.</p>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">B</span>Áreas de influencia social indirecta (AISI)</h3>
    <p style="text-align:justify;margin-bottom: 5px;">En cuanto al área de influencia social indirecta (AISI), está
        conformada por <span class="highlight">{{ datos.aisiComponente1 || '...' }}</span>.</p>
    <p style="text-align:justify;margin-bottom: 5px;">Para determinar el AISI se está teniendo en cuenta que <span
            class="highlight">{{ datos.aisiComponente2 || '...' }}</span>.</p>

    <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">3.1.3</span>Índices demográficos, sociales, económicos, de ocupación laboral
        y otros similares</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Para la descripción del aspecto socioeconómico se ha utilizado
        una combinación de métodos y técnicas cualitativas de investigación social, entre ellas se ha seleccionado
        las técnicas de entrevistas semiestructuradas con autoridades locales y/o informantes calificados, así como
        de encuestas de carácter socioeconómico. Además de ello, se ha recurrido a la recopilación de documentos que
        luego son contrastados y completados con la consulta de diversas fuentes de información oficiales
        actualizadas respecto al área de influencia social tales como el Censo Nacional INEI (2017), Escale –
        MINEDU, la base de datos de la Oficina General de Estadística e Informática del Ministerio de Salud, entre
        otros.</p>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">A</span>Fuentes primarias</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Dentro de las fuentes primarias se consideran a las
        autoridades comunales y locales, así como pobladores que fueron entrevistados y proporcionaron información
        cualitativa y cuantitativa. Esta información de primera mano muestra datos fidedignos que proporcionan un
        alcance más cercano de la realidad en la que se desarrollan las poblaciones del área de influencia social.
        Para la obtención de información cualitativa, se realizaron un total de <span class="highlight">{{
            datos.cantidadEntrevistas || '...' }}</span> entrevistas en profundidad a informantes calificados y
        autoridades locales, tanto <span class="highlight">{{ datos.cantidadEntrevistas || '...' }}</span></p>
    <p style="text-align:justify;margin-bottom: 5px;">A continuación, se muestra en el siguiente cuadro los cargos u
        ocupaciones principales de las <span class="highlight">{{ datos.cantidadEntrevistas || '...' }}</span>
        autoridades e
        informantes que fueron entrevistados durante el trabajo de campo llevado a cabo en el mes de <span
            class="highlight">{{ datos.fechaTrabajoCampo || '...' }}</span>. </p>
    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Cuadro N° 3. 1</p>
    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Lista de entrevistados</p>

    <table style="width: 100%; margin-top: 10px; border-spacing: 0; margin-bottom: 10px; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black;">Nombres y Apellidos</th>
                <th
                    style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black; border-left: none; border-right: none;">
                    Cargo u Ocupación</th>
                <th style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black;">Organización</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entrevistado of datos.entrevistados ?? []">
                <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.nombre }}</td>
                <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.cargo }}</td>
                <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.organizacion }}</td>
            </tr>
        </tbody>
    </table>
    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora || '...'
            }}</span>
    </p>
    <p style="text-align:justify;margin-bottom: 5px;">Por otro lado, en lo que respecta a información cuantitativa,
        se aplicaron un total de
        <span class="highlight">{{ datos.cantidadEncuestas || '...' }}</span> encuestas dentro del AISD <span
            class="highlight">{{ datos.componenteFuentesPrimarias2 || '...' }}</span> para obtener información
        socioeconómica
        más
        generalizada como datos de su ocupación principal, nivel educativo, integrantes de la familia,
        características de la vivienda, así como de sus actividades económicas (agricultura, ganadería, pesca,
        etc.).
    </p>
    <div>
        <p>{{ this.datos.detalleEncuesta }}</p>
        <p>{{ this.datos.precisionEncuesta }}</p>
    </div>

    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Cuadro N° 3. 2</p>
    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Muestra en relación a {{
        this.datos.nameuniverso }} de {{ this.datos.distritoSeleccionado }}</p>

    <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
        <tr>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                Indicador
            </th>
            <th
                style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;border-left: none;border-right: none;">
                Cantidad</th>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                Porcentaje
            </th>
        </tr>
        <tr>
            <td style="text-align: center;border: solid 1px black;">Sí fue encuestado</td>
            <td style="text-align: center;border: solid 1px black;">{{ this.datos.muestra }}</td>
            <td style="text-align: center;border: solid 1px black;">{{ this.datos.encuestadoPorcentaje }}%</td>
        </tr>
        <tr>
            <td style="text-align: center;border: solid 1px black;">No fue encuestado</td>
            <td style="text-align: center;border: solid 1px black;">{{ this.datos.noEncuestados }}</td>
            <td style="text-align: center;border: solid 1px black;">{{ this.datos.noResultadoPorcentaje }}%</td>
        </tr>
        <tr>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Total
            </th>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;"> {{
                (+datos.muestra) + (+datos.noEncuestados) }}
            </th>
            <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">100.00%
            </th>
        </tr>
    </table>

    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora || '...'
            }}</span>
    </p>
    <p style="text-align:justify;margin-bottom: 5px;">En el caso del AISD, es la única área de influencia en donde
        se ha considerado el recojo de información cuantitativa de fuentes primarias a través de las encuestas,
        mientras que para la descripción y caracterización del AISI (<span class="highlight">{{
            datos.pagina4DistDpto || '...' }}</span>) se ha optado por hacer uso únicamente de fuentes
        secundarias oficiales debido a <span class="highlight">{{
            datos.justificacionAISI || '...' }}</span></p>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">B</span>Fuentes secundarias</h3>
    <ul>
        <li style="list-style: disc;margin-left: 20px;">Censos Nacionales 2017 ejecutados por el Instituto Nacional
            de Estadística e Informática (INEI).</li>
        <li style="list-style: disc;margin-left: 20px;"> Censo Agropecuario 2012 (INEI)</li>
        <li style="list-style: disc;margin-left: 20px;"> Estadísticas de la Calidad Educativa (ESCALE) de la Unidad
            de Estadística del Ministerio de Educación (MINEDU).</li>
        <li style="list-style: disc;margin-left: 20px;"> Oficina de Estadística e Informática del Ministerio de
            Salud (MINSA).</li>
        <li style="list-style: disc;margin-left: 20px;"> Ministerio de Transporte y Comunicaciones (MTC).</li>
        <li style="list-style: disc;margin-left: 20px;"> Ministerio de Energía y Minas (MINEM).</li>
        <li style="list-style: disc;margin-left: 20px;"> Ministerio de Trabajo y Promoción del Empleo (MTPE)</li>
        <li style="list-style: disc;margin-left: 20px;"> Organismo Supervisor de Inversión Privada en
            Telecomunicaciones – OSIPTEL.</li>
        <li style="list-style: disc;margin-left: 20px;"> Programa de Naciones Unidas para el Desarrollo -PNUD.</li>
        <li style="list-style: disc;margin-left: 20px;"> Observatorio Socio Económico Laboral (OSEL).</li>
        <li style="list-style: disc;margin-left: 20px;"> REUNIS: Repositorio Único Nacional de Información en Salud
        </li>
        <li style="list-style: disc;margin-left: 20px;"> Repositorio digital de información multisectorial –
            REDInforma del Ministerio de Inclusión y Desarrollo Social (MIDIS).</li>
    </ul>

    <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">3.1.4</span>Área de Influencia Social</h3>
    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">A</span>Área de Influencia Social Directa (AISD)</h3>
    <p style="text-align:justify;margin-bottom: 5px;">Se ha determinado como Área de Influencia Social Directa
        (AISD) a la <span class="highlight">{{ datos.influenciaSocialDirecta || '...' }}</span>.</p>

    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">A.1 </span>{{ datos.distritoSeleccionado }}</h3>
    <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{ datos.componente1Pagina5 || '...'
            }}</span></p>
    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Cuadro N° 3.4</p>
    <p class="titulo-centrado" style="text-align: center;font-weight: 700;">Ubicación de la {{
        datos.distritoSeleccionado }}</p>
    <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;"><span
                    class="introducciontable_label subrayado">Centro comunal</span></td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">
                {{ datos.distritoSeleccionado }}</td>
        </tr>
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Distrito
            </td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">
                {{ datos.distritoSeleccionado }}</td>
        </tr>
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Provincia
            </td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">
                {{ datos.provinciaSeleccionada }}</td>
        </tr>
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">
                Departamento</td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">
                {{ datos.departamentoSeleccionado }}</td>
        </tr>
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Altitud
            </td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">
                {{ json?.length > 0 ? json[0].ALTITUD + ' msnm' : 'Sin datos' }}
            </td>
        </tr>
        <tr>
            <td style="background: #e6e6e6;border: solid 1px black;text-align: center;padding: 5px;">Coordenadas
            </td>
            <td style="border: solid 1px black;text-align: center;padding: 5px;">E:
                {{ json?.length > 0 ? json[0].ESTE : 'Sin datos' }} - N:
                {{ json?.length > 0 ? json[0].NORTE : 'Sin datos' }} </td>
        </tr>
    </table>
    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{
            datos.consultora || '...' }}</span> </p>
    <p style="text-align:justify;margin-bottom: 5px;"><span class="highlight">{{
            datos.componente2Pagina5 || '...' }}</span></p>

    <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
            style="margin-right: 20px;">A.1.1 </span> Institucionalidad local</h3>
    <p style="text-align:justify;margin-bottom: 5px;">La institucionalidad local de la {{ datos.distritoSeleccionado
        }} está organizada de la siguiente manera</p>
    <p style="text-align: center;font-weight: 700;">Cuadro N° 3.5</p>
    <p style="text-align: center;font-weight: 700;">Instituciones existentes en la {{ datos.distritoSeleccionado
        }}</p>
    <table style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
        <thead>
            <tr>
                <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                    Categoría</th>
                <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                    SI/NO</th>
                <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                    Nombre</th>
                <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                    Comentario</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="this.datos.tablepagina6.length > 0; else noData">
                <tr *ngFor="let item of this.datos.tablepagina6">
                    <td>{{ item.categoria }}</td>
                    <td>{{ item.respuesta }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.comentario }}</td>
                </tr>
            </ng-container>
        </tbody>

        <ng-template #noData>
            <tr>
                <td colspan="4" style="text-align: center; font-weight: bold; color: red;">
                    No hay datos disponibles.
                </td>
            </tr>
        </ng-template>
    </table>
    <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="nombreConsultora subrayado">{{
            datos.consultora }}</span> </p>
    <div class="image-gallery">
        <div *ngFor="let img of datos.imagenes2; let i = index" class="image-item">
            <p><strong>Fotografía N° {{ i + 1 }}:</strong> <br> {{ img.name }}</p>
            <img [src]="img.url" alt="{{ img.name }}" width="150">
            <div style="text-align: center;">Fuente: {{ datos.consultora }}</div>
        </div>
    </div>
</div>

<div>
    <button (click)="exportarWord()">Exportar a Word</button>
</div>