<div class="container">
    <div class="preview">
        <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">3.1.3</span>Índices demográficos, sociales, económicos, de ocupación laboral
            y otros similares</h3>
        <p style="text-align:justify;margin-bottom: 5px;">Para la descripción del aspecto socioeconómico se ha utilizado
            una combinación de métodos y técnicas cualitativas de investigación social, entre ellas se ha seleccionado
            las técnicas de entrevistas semiestructuradas con autoridades locales y/o informantes calificados, así como
            de encuestas de carácter socioeconómico. Además de ello, se ha recurrido a la recopilación de documentos que
            luego son contrastados y completados con la consulta de diversas fuentes de información oficiales
            actualizadas respecto al área de influencia social tales como el Censo Nacional INEI (2017), Escale –
            MINEDU, la base de datos de la Oficina General de Estadística e Informática del Ministerio de Salud, entre
            otros.</p>
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A</span>Fuentes primarias</h3>
        <p style="text-align:justify;margin-bottom: 5px;">Dentro de las fuentes primarias se consideran a las
            autoridades comunales y locales, así como pobladores que fueron entrevistados y proporcionaron información
            cualitativa y cuantitativa. Esta información de primera mano muestra datos fidedignos que proporcionan un
            alcance más cercano de la realidad en la que se desarrollan las poblaciones del área de influencia social.
            Para la obtención de información cualitativa, se realizaron un total de <span class="highlight">{{
                datos.cantidadEntrevistas || '...' }}</span> entrevistas en profundidad a informantes calificados y
            autoridades locales, tanto <span class="highlight">{{ datos.cantidadEntrevistas || '...' }}</span></p>
        <p style="text-align:justify;margin-bottom: 5px;">A continuación, se muestra en el siguiente cuadro los cargos u
            ocupaciones principales de las <span class="highlight">{{ datos.cantidadEntrevistas || '...' }}</span>
            autoridades e
            informantes que fueron entrevistados durante el trabajo de campo llevado a cabo en el mes de <span
                class="highlight">{{ datos.fechaTrabajoCampo || '...' }}</span>. </p>
        <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 1</p>
        <p style="text-align: center;font-weight: 700;">Lista de entrevistados</p>
        <table
            style="width: 100%; margin-top: 10px; border-spacing: 0; margin-bottom: 10px; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black;">Nombres y Apellidos</th>
                    <th
                        style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black; border-left: none; border-right: none;">
                        Cargo u Ocupación</th>
                    <th style="background: #e6e6e6; padding: 7px 0px; border: solid 1px black;">Organización</th>
                </tr>
            </thead>

            <tbody *ngIf="flagGuardar">
                <tr *ngFor="let entrevistado of datos.entrevistados">
                    <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.nombre }}</td>
                    <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.cargo }}</td>
                    <td style="border: 1px solid black; padding: 7px;">{{ entrevistado.organizacion }}</td>
                </tr>
            </tbody>
        </table>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora || '...'
                }}</span>
        </p>
        <p style="text-align:justify;margin-bottom: 5px;">Por otro lado, en lo que respecta a información cuantitativa,
            se aplicaron un total de
            <span class="highlight">{{ datos.cantidadEncuestas || '...' }}</span> encuestas dentro del AISD <span
                class="highlight">{{ datos.componenteFuentesPrimarias2 || '...' }}</span> para obtener información
            socioeconómica
            más
            generalizada como datos de su ocupación principal, nivel educativo, integrantes de la familia,
            características de la vivienda, así como de sus actividades económicas (agricultura, ganadería, pesca,
            etc.).
        </p>
        <div *ngIf="flagGuardar2">
            <p>{{ this.datos.detalleEncuesta }}</p>
            <p>{{ this.datos.precisionEncuesta }}</p>
        </div>

        <div *ngIf="flagGuardar2">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 2</p>
            <p style="text-align: center;font-weight: 700;">Muestra en relación a {{ this.datos.nameuniverso }} de {{ this.datos.distritoSeleccionado }}</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <tr>
                    <th class="header-centrado" style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                        Indicador
                    </th>
                    <th class="header-centrado"
                        style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;border-left: none;border-right: none;">
                        Cantidad</th>
                    <th class="header-centrado" style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                        Porcentaje
                    </th>
                </tr>
                <tr>
                    <td style="text-align: center;border: solid 1px black;">Sí fue encuestado</td>
                    <td style="text-align: center;border: solid 1px black;">{{ this.datos.muestra }}</td>
                    <td style="text-align: center;border: solid 1px black;">{{ this.datos.encuestadoPorcentaje }}%</td>
                </tr>
                <tr>
                    <td style="text-align: center;border: solid 1px black;">No fue encuestado</td>
                    <td style="text-align: center;border: solid 1px black;">{{ this.datos.noEncuestados }}</td>
                    <td style="text-align: center;border: solid 1px black;">{{ this.datos.noResultadoPorcentaje }}%</td>
                </tr>
                <tr>
                    <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Total
                    </th>
                    <th
                        style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;"> {{ (+datos.muestra) + (+datos.noEncuestados) }}
                    </th>
                    <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">100.00%
                    </th>
                </tr>
            </table>
        </div>

        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora || '...'
                }}</span>
        </p>
        <p style="text-align:justify;margin-bottom: 5px;">En el caso del AISD, es la única área de influencia en donde
            se ha considerado el recojo de información cuantitativa de fuentes primarias a través de las encuestas,
            mientras que para la descripción y caracterización del AISI (<span class="highlight">{{
                datos.pagina4DistDpto || '...' }}</span>) se ha optado por hacer uso únicamente de fuentes
            secundarias oficiales debido a <span class="highlight">{{
                datos.justificacionAISI || '...' }}</span></p>
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">B</span>Fuentes secundarias</h3>
        <ul>
            <li style="list-style: disc;margin-left: 20px;">Censos Nacionales 2017 ejecutados por el Instituto Nacional
                de Estadística e Informática (INEI).</li>
            <li style="list-style: disc;margin-left: 20px;"> Censo Agropecuario 2012 (INEI)</li>
            <li style="list-style: disc;margin-left: 20px;"> Estadísticas de la Calidad Educativa (ESCALE) de la Unidad
                de Estadística del Ministerio de Educación (MINEDU).</li>
            <li style="list-style: disc;margin-left: 20px;"> Oficina de Estadística e Informática del Ministerio de
                Salud (MINSA).</li>
            <li style="list-style: disc;margin-left: 20px;"> Ministerio de Transporte y Comunicaciones (MTC).</li>
            <li style="list-style: disc;margin-left: 20px;"> Ministerio de Energía y Minas (MINEM).</li>
            <li style="list-style: disc;margin-left: 20px;"> Ministerio de Trabajo y Promoción del Empleo (MTPE)</li>
            <li style="list-style: disc;margin-left: 20px;"> Organismo Supervisor de Inversión Privada en
                Telecomunicaciones – OSIPTEL.</li>
            <li style="list-style: disc;margin-left: 20px;"> Programa de Naciones Unidas para el Desarrollo -PNUD.</li>
            <li style="list-style: disc;margin-left: 20px;"> Observatorio Socio Económico Laboral (OSEL).</li>
            <li style="list-style: disc;margin-left: 20px;"> REUNIS: Repositorio Único Nacional de Información en Salud
            </li>
            <li style="list-style: disc;margin-left: 20px;"> Repositorio digital de información multisectorial –
                REDInforma del Ministerio de Inclusión y Desarrollo Social (MIDIS).</li>
        </ul>
    </div>

    <div class="formulario">
        <div class="title">Fuentes de información</div>

        <div>
            <div class="label">CANTIDAD DE ENTREVISTAS</div>
            <input class="inputstyle" type="number" [(ngModel)]="datos.cantidadEntrevistas"
                (ngModelChange)="actualizarCantidad()">
        </div>

        <div>
            <div class="label">CANTIDAD DE ENCUESTAS</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.cantidadEncuestas">
        </div>

        <div>
            <div class="label">FECHA TRABAJO DE CAMPO (MES Y AÑO)</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.fechaTrabajoCampo">
        </div>

        <div>
            <div class="label">FUENES PRIMARIAS COMPONENTE 1</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.componenteFuentesPrimarias1">
        </div>

        <div>
            <div class="label">FUENES PRIMARIAS COMPONENTE 2</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.componenteFuentesPrimarias2">
        </div>

        <div>
            <div class="label">JUSTIFICACIÓN AISI</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.justificacionAISI">
        </div>

        <div>
            <div class="label">CONSULTORA</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.consultora">
        </div>

        <div class="title" style="margin-top: 15px;">Fuentes de información</div>
        <div class="label">LISTA DE ENTREVISTADOS</div>
        <div *ngFor="let entrevistado of datos.entrevistados; let i = index">
            <div style="display: flex; align-items: center;  gap: 10px; margin-bottom: 10px;">
                <div><strong>{{ i + 1 }}</strong></div>
                <input class="inputstyle2" type="text" [(ngModel)]="entrevistado.nombre"
                    placeholder="Nombres y apellidos">
                <input class="inputstyle2" type="text" [(ngModel)]="entrevistado.cargo" placeholder="Cargo y Ocupación">
                <input class="inputstyle2" type="text" [(ngModel)]="entrevistado.organizacion"
                    placeholder="Organización">
            </div>
        </div>

        <button class="guardar" (click)="guardar()">Guardar</button>

        <div class="title">Encuestas</div>
        <div class="label">LISTA DE ENCUESTAS</div>
        <p>{{ title }}</p>

        <div style="display: flex; flex-direction: column; gap: 10px; margin-bottom: 15px;">
            <div class="container-input">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.muestra" placeholder="Muestra">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.universo" placeholder="Universo">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.margen" placeholder="Margen de error">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.nameuniverso"
                    placeholder="Nombre del universo">
            </div>
            <div class="container-input">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.variable" placeholder="Variable">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.fuente" placeholder="Fuente de información">
                <input class="inputstyle2" type="text" [(ngModel)]="datos.nivel" placeholder="Nivel de confianza">
                <button class="actualizar" (click)="actualizar()">Actualizar</button>
            </div>
        </div>
        <div class="label">DETALLE DE LA ENCUESTA</div>
        <input style="margin-bottom: 15px;" class="inputstyle2" type="text" [(ngModel)]="datos.detalleEncuesta">

        <div class="label">PRECISIÓN DE LA ENCUESTA</div>
        <input style="margin-bottom: 15px;" class="inputstyle2" type="text" [(ngModel)]="datos.precisionEncuesta">

        <button class="guardar" (click)="guardar2()">Guardar</button>
        <br>
        <div style="display: flex; gap: 20px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
            <button class="resumen" (click)="resumen()">Resumen</button>

        </div>

    </div>
</div>