<div class="container">
    <div class="preview">
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A.1.2 </span> Aspectos demográficos</h3>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">a.</span>Población según sexo</p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span class="highlight">{{
                datos.PoblacionSexo || '...' }}</span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 6</p>
            <p style="text-align: center;font-weight: 700;">Población por sexo en la {{ datos.distritoSeleccionado }}
                (2017)</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosSexo">
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">Varones</td>
                        <td style="border: 1px solid black; padding: 7px;">
                                {{ datos.datosobtenidosAPI.poblacion?.cantidadVarones }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.porcentajeVarones }}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">Mujeres</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.cantidadMujeres }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.porcentajeMujeres }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            {{ datos.datosobtenidosAPI.poblacion?.totalPobladores }}</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">Censos
                Nacionales 2017: XII de Población, VII de Vivienda y III de Comunidades Indígenas</span> </p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">a.</span>Población según grupos etários</p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span class="highlight">{{
                datos.PoblacionEtarios || '...' }}</span></p>
        <div id="ubicacionTable2">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 7</p>
            <p style="text-align: center;font-weight: 700;">Población por grupos etarios en la {{
                datos.distritoSeleccionado }} (2017)</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosEtarios">
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">0 a 14 años</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de0a14 }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de0a14Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">15 a 29 años</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de14a29 }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de14a29Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">30 a 44 años</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de30a44 }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de30a44Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">45 a 64 años</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de44a64 }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de44a64Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black; padding: 7px;">65 a más</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de65amas }}</td>
                        <td style="border: 1px solid black; padding: 7px;">{{ datos.datosobtenidosAPI.poblacion?.de65amasPorcentaje }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            {{ datos.datosobtenidosAPI.poblacion?.totalPobladores }}</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">Censos
                Nacionales 2017: XII de Población, VII de Vivienda y III de Comunidades Indígenas</span> </p>
    </div>
    <div class="formulario">
        <div class="title">Aspectos demográficos</div>

        <div class="label">POBLACIÓN SEGÚN SEXO</div>
        <textarea  class="inputstyle" type="text" [(ngModel)]="datos.PoblacionSexo"></textarea>

        <div class="label">POBLACIÓN SEGÚN GRUPOS ETARIOS</div>
        <textarea  class="inputstyle" type="text" [(ngModel)]="datos.PoblacionEtarios"></textarea>

        <div style="display: flex; gap: 20px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        </div>
    </div>
</div>