<div class="container">
    <div class="preview">
        <h3 style="display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">A.1.3 </span> Indicadores y distribución de la Población
            Económicamente Activa por rama de actividad, tipo de empleo, tasas e ingresos.</h3>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">a.</span>Población en edad de Trabajar (PET)</p>
        <p style="text-align:justify;margin-bottom: 5px;">La población cumplida de 14 años de edad, se encuentra en edad
            de trabajar, en concordancia con el Convenio 138 de la Organización Internacional de Trabajo (OIT) aprobado
            por Resolución Legislativa Nº 27453 de fecha 22 de mayo del 2001 y ratificado por DS Nº 038-2001-RE,
            publicado el 31 de mayo de 2001.</p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="PETComponent1 subrayado"></span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 7</p>
            <p style="text-align: center;font-weight: 700;">PET de la {{ datos.distritoSeleccionado }} (2017)</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosSexo">
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">15 a 29 años</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de15a29 }}</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de15a29Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">30 a 44 años</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de30a44 }}</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de30a44Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">45 a 64 años</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de45a64 }}</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de44a64Porcentaje }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">65 años a más</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de65amas }}</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI2.pet.de65amasPorcentaje }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="petTotal">{{ datos.datosobtenidosAPI2.pet.totalPet }}</span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="PETComponent2 subrayado"></span></p>
        <p style="text-align:justify;margin-bottom: 5px;"><span style="margin-right: 20px;">b.</span>Población
            Económicamente Activa (PEA)</p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="PEAComponent1 subrayado"></span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 8</p>
            <p style="text-align: center;font-weight: 700;">Conformación de la PEA y No PEA del distrito {{
                datos.distritoSeleccionado }} (2017)
            </p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosSexo">
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">PEA</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">{{
                            datos.datosobtenidosAPI4.pea }}<span class="pea subrayado"></span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="peaPorcentaje subrayado"></span> {{ datos.datosobtenidosAPI4.porcentaje_pea }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">No PEA</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="noPea subrayado">{{ datos.datosobtenidosAPI4.no_pea }}</span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="noPeaPorcentaje subrayado"></span>{{ datos.datosobtenidosAPI4.porcentaje_no_pea
                            }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="totalPea">{{ datos.datosobtenidosAPI4.pea + datos.datosobtenidosAPI4.no_pea
                                }}</span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="nombreConsultora subrayado">Resultados
                Definitivos de la Población Económicamente Activa 2017– INEI 2018</span> </p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">b.1.</span>Situación del empleo (dependiente o independiente)</p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="PEAEmpleoComponent1 subrayado"></span></p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="PEAEmpleoComponent2 subrayado"></span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 9</p>
            <p style="text-align: center;font-weight: 700;">Tipo de Empleo en {{ datos.distritoSeleccionado }} -
                Encuestas</p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosSexo">
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Independiente</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoIndependiente subrayado"></span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoIndependientePorcentaje subrayado"></span> %</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Dependiente (Entidad
                            Pública)</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoDependientePublica subrayado"></span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoDependientePublicaPorcentaje subrayado"></span> %</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">Dependiente (Entidad
                            Privada)</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoDependientePrivada subrayado"></span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="tipoEmpleoDependientePrivadaPorcentaje subrayado"></span> %</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="totalEncuestasMenosNoAplica"></span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">No
                            Aplica</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px"
                            colspan="2"><span class="noAplicaEncuestas subrayado">0</span></th>
                    </tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="highlight">{{ datos.consultora }}</span>
        </p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">b.2.</span>Ingresos de la población</p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="ingresosPoblacionComponent1 subrayado">{{ datos.detalleIngresos }}</span>
        </p>
        <p style="text-align:justify;margin-bottom: 5px;">De las {{ datos.cantidadEncuestas }} encuestas aplicadas,
            se obtiene que el promedio de los ingresos mensuales es de S/<span class="highlight">{{
                datos.ingresosMensualesPromedio }}</span> No obstante, empleando la mediana se tiene como
            resultado que, ordenando de menor a mayor la variable, la primera mitad de la muestra tiene como ingreso
            máximo S/<span class="highlight">{{ datos.ingresosMaximo }}</span>. </p>
        <p style="text-align:justify;margin-bottom: 5px;font-weight: 700;"><span
                style="margin-right: 20px;">b.3.</span>Índice de desempleo</p>
        <p style="text-align:justify;margin-bottom: 5px;">A nivel distrital de {{ datos.distritoSeleccionado }}, según
            el censo del INEI del año
            2017, tenemos que solamente el <span class="peaDesocupadaPorcentaje subrayado"></span>% de la PEA se
            encuentra desocupada, pero debe considerarse que la población ocupada también se encuentra en la búsqueda de
            mejores oportunidades laborales, debido a la alta tasa de informalidad. </p>
        <p style="text-align:justify;margin-bottom: 5px;"><span class="indiceDesmpleoComponent1 subrayado">{{ datos.detalleIndiceDesempleo }}</span></p>
        <div id="ubicacionTable">
            <p style="text-align: center;font-weight: 700;">Cuadro N° 3. 10</p>
            <p style="text-align: center;">PEA ocupada y desocupada del distrito {{ datos.distritoSeleccionado }} (2017)
            </p>
            <table
                style="width: 100%;margin-top: 10px;border-spacing: 0;margin-bottom: 10px;border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Categoría</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Casos</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px;">
                            Porcentaje</th>
                    </tr>
                </thead>
                <tbody id="listAspectosSexo">
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">PEA Ocupada</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="peaOcupada subrayado">{{ datos.datosobtenidosAPI4.ocupada }}</span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="peaOcupadaPorcentaje subrayado"></span>{{
                            datos.datosobtenidosAPI4.porcentaje_Ocupada }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px">PEA Desocupada</td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="peaDesocupada subrayado">{{ datos.datosobtenidosAPI4.desocupada }}</span></td>
                        <td style="padding: 7px 0px;border: solid 1px black;border-spacing: 0px"><span
                                class="peaDesocupadaPorcentaje subrayado"></span>{{
                            datos.datosobtenidosAPI4.porcentaje_Desocupada }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            Total</th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            <span class="totalPeaDistrito"> {{ datos.datosobtenidosAPI4.ocupada +
                                datos.datosobtenidosAPI4.desocupada }} </span>
                        </th>
                        <th style="background: #e6e6e6;padding: 7px 0px;border: solid 1px black;border-spacing: 0px">
                            100.00%</th>
                    <tr>
                </thead>
            </table>
        </div>
        <p style="text-align:justify;margin-bottom: 5px;">Fuente:<span class="nombreConsultora subrayado">Resultados
                Definitivos de la Población Económicamente Activa 2017– INEI 2018</span> </p>
    </div>
    <div class="formulario">
        <div class="title">Indicadores de población PET - PEA</div>

        <div class="label">DETALLE PET</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detallePET">

        <div class="label">DETALLE PET DISTRITAL</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detallePetDistrital">

        <div class="label">DETALLE PEA DISTRITAL</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detallePeaDistrital">

        <div class="label">DETALLE PEA SITUACIÓN DEL EMPLEO 1</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detallePeaEmpleo1">

        <div class="title">Encuestas</div>

        <div class="label">ENCUESTAS INDEPENDIENTE</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.encuestasIndependiente">

        <div class="label">ENCUESTAS DEPENDIENTE PÚBLICA</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.encuestasDependientePublica">

        <div class="label">ENCUESTAS DEPENDIENTE PRIVADA</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.encuestasDependientePrivada">

        <div class="label">ENCUESTAS NO APLICA</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.encuestasNoAplica">

        <div class="label">DETALLE PEA SITUACIÓN DEL EMPLEO - ENCUESTAS</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detallePeaSituacionEmpleo">

        <button class="guardar" (click)="actualizarDatos()">Actualizar encuestas</button>

        <div class="title">Ingresos</div>

        <div class="label">DETALLE INGRESOS POBLACIÓN</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detalleIngresos">

        <div class="label">INGRESOS MENSUALES PROMEDIO</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.ingresosMensualesPromedio">

        <div class="label">INGRESO MÁXIMO</div>
        <input class="inputstyle" type="text" [(ngModel)]="datos.ingresosMaximo">

        <div class="title">Desempleo</div>

        <div class="label">DETALLE ÍNDICE DE DESEMPLEO</div>
        <input class="inputstyle2" type="text" [(ngModel)]="datos.detalleIndiceDesempleo">

        <div style="display: flex; gap: 20px;">
            <button class="atras" (click)="regresar()">Atrás</button>
            <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        </div>
    </div>
</div>