<div class="container">
    <div class="preview">
        <h3 style="display: flex;margin-bottom: 10px;text-align:justify;">
            <span style="margin-right: 20px;">3.1</span> DESCRIPCIÓN Y CARACTERIZACIÓN DE LOS ASPECTOS SOCIALES,
            CULTURALES Y ANTROPOLÓGICOS DE LA POBLACIÓN UBICADA EN EL ÁREA DE INFLUENCIA SOCIAL DEL PROYECTO
        </h3>
        <p>
            Este componente realiza una caracterización de los aspectos socioeconómicos, culturales y antropológicos del
            área de influencia social del proyecto
            <span class="highlight">{{ datos.projectName || '...' }}</span>, como un patrón de referencia inicial en
            base a la
            cual se pueda medir los impactos sobre la población del entorno directo del Proyecto.
        </p>
        <p>
            El Proyecto <span class="highlight">{{ datos.projectName || '...' }}</span> se encuentra ubicado en el
            distrito
            <span class="highlight">{{ datos.distritoSeleccionado || '...' }}</span>, provincia
            <span class="highlight">{{ datos.provinciaSeleccionada || '...' }}</span>, en el departamento
            <span class="highlight">{{ datos.departamentoSeleccionado || '...' }}</span>, bajo la administración del
            Gobierno
            Regional de
            <span class="highlight">{{ datos.departamentoSeleccionado || '...' }}</span>, en el
            <span class="highlight">{{ datos.detalleProyecto || '...' }}</span> del Perú.
        </p>
        <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">3.1.1</span>Objetivos de la línea base social</h3>
        <p style="text-align:justify;margin-bottom: 5px;">Los objetivos de la presente línea de base social (LBS) son
            los siguientes:</p>
        <ul style="padding-left: 20px;">
            <li style="list-style: disc;text-align:justify;margin-bottom: 5px;">Describir los aspectos demográficos,
                sociales, económicos, culturales y políticos que caracterizan a las poblaciones de las áreas de
                influencia social del proyecto de exploración minera <span class="highlight">{{ datos.projectName ||
                    '...' }}</span>.</li>
            <li style="list-style: disc;text-align:justify;margin-bottom: 5px;">Brindar información básica de los
                poblados comprendidos en el área de influencia social donde se realizará el Proyecto que sirvan de base
                para poder determinar los posibles impactos sociales a originarse en esta primera etapa de exploración
                y, por ende, prevenir, reducir o mitigar las consecuencias negativas y potenciar las positivas.</li>
        </ul>
        <h3 style="margin-left: 50px;display: flex;margin-bottom: 10px;margin-top: 10px;text-align:justify;"><span
                style="margin-right: 20px;">3.1.2</span>Delimitación de las áreas de influencia social</h3>
        <p style="text-align:justify;margin-bottom: 5px;">En términos generales, la delimitación del ámbito de estudio
            de las áreas de influencia social se hace tomando en consideración a los agentes e instancias sociales,
            individuales y/o colectivas, públicas y/o privadas, que tengan derechos o propiedad sobre el espacio o los
            recursos respecto de los cuales el proyecto de exploración minera tiene incidencia. </p>
        <p style="text-align:justify;margin-bottom: 5px;">Asimismo, el área de influencia social de un Proyecto tiene en
            consideración a los grupos de interés que puedan ser potencialmente afectadas por el desarrollo de dicho
            proyecto (según La Guía de Relaciones Comunitarias de la DGAAM del MINEM, se denomina “grupos de interés” a
            aquellos grupos humanos que son impactados por dicho Proyecto).</p>
        <p style="text-align:justify;margin-bottom: 5px;">El criterio social para la delimitación de un área de
            influencia debe tener en cuenta la influencia que el Proyecto pudiera tener sobre el entorno social, que
            será o no ambientalmente impactado, considerando también la posibilidad de generar otro tipo de impactos,
            expectativas, intereses y/o demandas del entorno social.
        <p>
        <p style="text-align:justify;margin-bottom: 5px;">En base a estos criterios se han identificado las áreas de
            influencia social directa e indirecta:</p>
    </div>

    <div class="formulario">
        <div class="title">Seleccione área de influencia directa</div>
        <div class="conainer-label-input">
            <div class="label">NOMBRE DEL PROYECTO:</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.projectName" placeholder="Nombre del proyecto">
        </div>
        <div>
            <div class="label">SUBIR UBIGEO DE CENTRO POBLADO</div>
            <input class="inputstyle" type="file" (change)="cargarArchivo($event)" accept=".json">
        </div>
        <div style="display: flex; gap: 20px; width: 100%; margin: 10px 0px;">
            <div style="width: 33%;">
                <div class="label">DEPARTAMENTO:</div>
                <select class="selectstyle" [(ngModel)]="datos.departamentoSeleccionado"
                    (change)="actualizarProvincias()">
                    <option *ngFor="let dep of departamentos" [value]="dep">{{ dep }}</option>
                </select>
            </div>
            <div style="width: 33%;">
                <div class="label">PROVINCIA:</div>
                <select class="selectstyle" [(ngModel)]="datos.provinciaSeleccionada" (change)="actualizarDistritos()">
                    <option *ngFor="let prov of provincias" [value]="prov">{{ prov }}</option>
                </select>
            </div>
            <div style="width: 33%;">
                <div class="label">DISTRITO:</div>
                <select class="selectstyle" [(ngModel)]="datos.distritoSeleccionado">
                    <option *ngFor="let dist of distritos" [value]="dist">{{ dist }}</option>
                </select>
            </div>
        </div>

        <div style="margin: 10px 0px;">
            <div class="label">DETALLE:</div>
            <input class="inputstyle" type="text" [(ngModel)]="datos.detalleProyecto">
        </div>

        <button class="siguiente" (click)="siguientePaso()">Siguiente</button>
        <button class="resumen" (click)="resumen()">Resumen</button>

    </div>
</div>